  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  #result_object_name {
    font-size: 20px;
  }

  canvas {
    margin-top: 150px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px green;
  }
 
  .copy_right_footer {
    bottom: 0;
    background-color: grey;
    position: fixed;
    width: 100%;
    text-align: center;
    color: ivory;
    line-height: 3;
  }